$layout-gutter: 8px;

$sm: $layout-gutter;
$md: $layout-gutter * 2;
$lg: $layout-gutter * 3;

//$content-bg: #e9e9e9;
$content-bg: #f2f3f7;

$theme-color: #02b4a8;

$header-height: 69px;


$header-bg: #5295e7;

